<div class="d-lg-none mb-2">
  <button class="btn btn-primary" 
					type="button" 
					data-bs-toggle="offcanvas" 
					data-bs-target="#offcanvasCategory" 
					aria-controls="offcanvasCategory"> 
					Choose Category
		<i class="bi-three-dots ms-2"></i>
  </button>
</div>
<div 	class="d-none d-lg-block" 
			id="containerCategory">
</div>
<div 	class="offcanvas offcanvas-start" 
			data-bs-scroll="true" 
			data-bs-backdrop="false" 
			tabindex="-1" 
			id="offcanvasCategory" 
			aria-labelledby="offcanvasCategoryLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" 
				id="offcanvasCategoryLabel">
				Choose Category</h5>
    <button type="button" 
						class="btn-close" 
						data-bs-dismiss="offcanvas" 
						aria-label="Close"></button>
  </div>
  <div class="offcanvas-body"></div>
</div>